@model MVCDHProject.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    var returnUrl = @Context.Request.Query["ReturnUrl"];
}
<h1>Login With</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <h3>NIT Account</h3>
        <hr />
        <form asp-action="Login" asp-route-ReturnUrl="@returnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" />
                    @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn btn-primary" />
            </div>
            <div class="form-group">
                New user? <a asp-action="Register">Click</a> to register?
                <br />
                Forgot password? - <a asp-action="ForgotPassword">Click</a> to reset.
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Google or Facebook</h3>
        <hr />
        <form asp-action="ExternalLogin" asp-route-returnUrl="@returnUrl">
            <input type="submit" name="Provider" value="Google" class="btn btn-primary" />
            <input type="submit" name="Provider" value="Facebook" class="btn btn-primary" />
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
