<h2 class="align-content-xl-center alert-danger">
    Server Error Page - @ViewBag.ErrorTitle
</h2>
<h4>
    There is a error at @ViewBag.Path, and the details of the error are:
</h4>
<p style="text-align:justify;font-size:large;color:red">
    @ViewBag.ErrorMessage
</p>
