@model Customer
<form asp-controller="Customer" asp-action="AddCustomer">
    <div><label asp-for="Custid"></label><br /><input asp-for="Custid" /></div>
    <div><label asp-for="Name"></label><br /><input asp-for="Name" /></div>
    <div><label asp-for="Balance"></label><br /><input asp-for="Balance" /></div>
    <div><label asp-for="City"></label><br /><input asp-for="City" /></div>
    <div><label asp-for="Status"></label><br /><input asp-for="Status" /></div>
    <div><input type="submit" value="Save" /><input type="reset" value="Reset" /></div>
    <div><a asp-action="DisplayCustomers" align="center">Back to Customer Details</a></div>
</form>

